<!DOCTYPE html>
<html ng-app="shark">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <!-- injector:css -->
            <!-- endinjector -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <!-- injector:js -->
            <!-- endinjector -->

        {% endblock %}
    </body>
</html>
